/* CARD */
.form-card {
    background: #fff;
    max-width: 850px;
    margin: 30px auto;
    padding: 35px 40px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

/* JUDUL */
.form-title {
    text-align: center;
    font-weight: 800;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

/* FORM */
.form-group {
    margin-bottom: 18px;
}

.form-group label {
    font-weight: 600;
    margin-bottom: 6px;
    display: block;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px 14px;
    border-radius: 8px;
    border: 1.5px solid #ff4d4d;
    outline: none;
}

/* GRID 2 KOLOM */
.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* BUTTON */
.form-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.btn-cancel {
    background: red;
    color: #fff;
    padding: 8px 25px;
    border-radius: 8px;
    text-decoration: none;
}

.btn-submit {
    background: #28c76f;
    color: #fff;
    padding: 8px 25px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}