@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/*GLOBAL LAYOUT*/

.wrapper {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 240px;
    background: #ffffff;
    border-right: 1px solid #e5e7eb;
}

.content {
    flex: 1;
    height: 100vh;
    overflow-y: auto;   /* INI YANG BIKIN SCROLL */
    padding: 30px;
    background: #f4f6f9;
}

.text-justify {
    text-align: justify;
}

.form-card {
    max-width: 800px;
    margin: auto;
}

.form-card input,
.form-card select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ff4d4d;
    border-radius: 8px;
}

.form-card .row {
    display: flex;
    gap: 15px;
}

.form-action {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn-success {
    background: #2ecc71;
    color: #fff;
    padding: 8px 20px;
    border-radius: 8px;
    border: none;
}

.btn-danger {
    background: #e74c3c;
    color: #fff;
    padding: 8px 20px;
    border-radius: 8px;
    text-decoration: none;
}

.table td {
    vertical-align: middle;
}

.table .btn-danger {
    padding: 4px 10px;
    font-size: 13px;
}

.badge {
    pointer-events: auto;
}